name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.otismaker }} -p ${{ secrets.DOCKER_PASS }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.otismaker }}/demo-cicd-minikube:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.otismaker }}/demo-cicd-minikube:latest